<div class="row">
  <div class="col-md-3">
    <h3>Building Details</h3>
  </div>
</div>

<div class="row">
  <div class="col-md-1">
    <a class="btn btn-primary" role="button" routerLink="{{building.uri}}/edit">Edit</a>
  </div>
</div>

<div class="row">
  <div class="col-md-4">
    <h4>Title</h4>
    <p>{{building.title}}</p>
  </div>
</div>

<div class="row">
  <div class="col-md-4">
    <h4>Description</h4>
    <p>{{building.description}}</p>
  </div>
</div>

<div class="row">
  <div class="col-md-4">
    <h4>Is in Campus</h4>
    <p>{{campus.title}}</p>
  </div>
</div>

<div class="row">
  <div class="col-md-2">
    <h4>latitude</h4>
    <p>{{building.latitude}}</p>
  </div>
  <div class="col-md-2">
    <h4>longitude</h4>
    <p>{{building.longitude}}</p>
  </div>
</div>

<div *ngIf="building.uri !== undefined" class="row">
  <div class="col-md-12">
    <app-floor-list [building]="building"></app-floor-list>
  </div>
</div>

<div class="row">

</div>
