<form id="connector-form" [formGroup]="connectorForm" (ngSubmit)="onSubmit()">
  <fieldset>


    <div *ngIf="!showForm" class="col-md-4" style="padding-left: 0px;">
      <button id="showForm" name="createConnector" type="submit" (click)="showForm = true;"
              class="btn btn-primary">Add a new connector
      </button>
    </div>


    <!-- Text input-->
    <div *ngIf="showForm" class="form-group row">
      <label class="col-md-3 control-label" for="title">Connector Title*</label>
      <div class="col-md-9">
        <input id="title" name="title" type="text" placeholder="Title" class="form-control input-md"
               [class.has-error]="titleCtrl.touched && titleCtrl.hasError('required')"
               [formControl]="connectorForm.controls['title']"
               [(ngModel)]="connector.title">
        <div *ngIf="titleCtrl.touched && titleCtrl.hasError('required')" class="label-warning">
           A title is required
        </div>
      </div>
    </div>

    <!-- Textarea -->
    <div *ngIf="showForm" class="form-group row">
      <label class="col-md-3 control-label" for="description">Connector Description</label>
      <div class="col-md-9">
        <textarea class="form-control" id="description" name="description" placeholder="Description"
                  [formControl]="connectorForm.controls['description']"
                  [(ngModel)]="connector.description"></textarea>
      </div>
    </div>

    <div *ngIf="showForm" class="form-group row">
      <label class="col-md-3 control-label" for="isInFloor">Floor</label>
      <div class="col-md-9">
        <select class="form-control" id="isInFloor" name="isInFloor"
                [formControl]="connectorForm.controls['isInFloor']"
                [(ngModel)]="connector.isInFloor">
          <option *ngFor="let floorItem of floors" [ngValue]="floorItem.uri">{{floorItem.title}}</option>
        </select>
      </div>
    </div>

    <div *ngIf="showForm && floor" class="form-group row" style="margin-left: 15px; margin-right: 15px">
      <img-map
        #imgMap
        [src]="floor.picture"
        markerRadius="15"
        [markers]="markers"
        (mark)="onMark($event)"
        (change)="onChange($event)"
      ></img-map>
    </div>

    <!-- Button -->
    <div *ngIf="showForm" class="form-group row">
        <div class="col-md-9"></div>
        <div class="col-md-3">
          <button id="createConnector" name="createConnector" type="submit"
                  class="btn btn-success pull-right" [disabled]="!connectorForm.valid" >Create
          </button>

          <button id="cancelForm" name="cancelForm" (click)="showForm = false;"
                  class="btn btn-danger pull-right">Cancel
          </button>
      </div>
    </div>



  </fieldset>
</form>

