<h2>Create Open License</h2>
<form [formGroup]="openLicenseForm" (ngSubmit)="onSubmit()">
    <fieldset>

        <!-- Text input-->
        <div class="form-group row">
            <label class="col-md-12 control-label" for="text">Open License Text*</label>
            <div class="col-md-12">
                <input id="text" name="text" type="text" placeholder="Text" class="form-control input-md" [class.has-error]="textCtrl.touched && textCtrl.hasError('required')" [formControl]="openLicenseForm.controls['text']" [(ngModel)]="openLicense.text">
                <div *ngIf="textCtrl.touched && textCtrl.hasError('required')" class="label-warning">
                    A text is required
                </div>
            </div>
        </div>

        <!-- Button -->
        <div class="form-group row">
            <div class="col-md-3"></div>
            <div class="col-md-9">
                <button id="createLicense" name="createLicense" type="submit" class="btn btn-success pull-right" [disabled]="!openLicenseForm.valid">Create</button>
            </div>
        </div>

    </fieldset>
</form>
