.label {
    color: black;
    font-size: 12px;
    font-style: italic;
}

form {
  background-color: #f8f8f8;
  border-color: #555555;
  box-shadow: 0 1px 1px rgba(0,0,0,.05);
  border-top-left-radius: 3px;
  border-top-right-radius: 3px;
  margin-top: 15px;
}
