<div class="row">
  <div class="col-md-4">
    <h4 *ngIf="connectors.length == 0">There are no connectors registered</h4>
    <h4 *ngIf="connectors.length > 0">There are {{connectors.length}} connectors registered</h4>
  </div>
  <!--<div class="col-md-8">
    <h4>
      <a class="btn btn-primary" role="button"
         [routerLink]="['/connectors/new']">Register New Connector</a>
    </h4>
  </div>-->
</div>

<!--<div class="row">
  <h3 class="col-md-12">Connectors</h3>
  <div class="col-md-12">
    <app-connector-search (onSearchited)="onSearch($event)" [connectors]="connectors"></app-connector-search>
  </div>
</div>-->

<div class="row">
  <h3 class="col-md-12">Connectors</h3>
</div>

<div class="row">
  <div class="panel-group col-md-12">
    <div class="panel panel-default" *ngFor="let connector of connectors">
      <div class="panel-heading">
        <h4><a routerLink="{{connector.uri}}">{{connector.title}}</a></h4>
      </div>
    </div>
  </div>
</div>
