<div class="row">
  <div class="row">
    <h2 *ngIf="!floor" class="col-md-12"> <strong>Connectors:</strong></h2>
    <h3 *ngIf="floor" class="col-md-12"><strong>Connectors in this floor:</strong></h3>
  </div>
</div>

<div class="row">
  <div class="col-md-12">
    <app-connector-search (onSearchited)="onSearch($event)" [connectors]="connectors" [floor]="floor" ></app-connector-search>
  </div>
</div>

<div class="row">
  <div class="panel-group col-md-12">
    <div class="panel panel-default" *ngFor="let connectorItem of connectors">
      <div class="panel-heading">
        <h4>
          <a routerLink="{{connectorItem.uri}}">{{connectorItem.title}}</a>
          <div>
            <input type="image" src="assets/settings.png" style="max-width:30px; max-height:30px; float: right; margin-top: -25px;" (click)="openCustom(connectorItem)"/>
          </div>
        </h4>
      </div>
    </div>
  </div>
</div>

<div *ngIf="floor" class="form-group row imageView">
  <img-map
    #imgMap
    [src]="floor.picture"
    markerRadius="6"
    [markers]="markers"
    (change)="onChange($event)"
  ></img-map>
</div>

<div *ngIf="floor" class="row">
  <div class="col-md-12">
    <app-connector-form [floor]="floor"></app-connector-form>
  </div>
</div>
