<div class="row">
  <!--<div class="col-md-8">
    <h4>
      <a class="btn btn-primary" role="button"
         [routerLink]="['/connectors/new']">Register New Connector</a>
    </h4>
  </div>-->
</div>

<div class="row">
  <h3 class="col-md-12">Connectors</h3>
  <div class="col-md-12">
    <app-connector-search (onSearchited)="onSearch($event)" [connectors]="connectors" [floor]="floor" ></app-connector-search>
  </div>
</div>

<div class="row">
  <div class="panel-group col-md-12">
    <div class="panel panel-default" *ngFor="let connector of connectors">
      <div class="panel-heading">
        <h4><a routerLink="{{connector.uri}}">{{connector.title}}</a></h4>
      </div>
    </div>
  </div>
</div>

<div class="form-group row">
  <img-map
    #imgMap
    [src]="floor.picture"
    markerRadius="15"
    [markers]="markers"
    (change)="onChange($event)"
  ></img-map>
</div>

<div class="row">
  <div class="col-md-12">
    <app-connector-form [floor]="floor"></app-connector-form>
  </div>
</div>


<button (click)="onClick2()">Alert</button>
<br>
<h2>Custom Modal example:</h2>
<button (click)="openCustom()">Custom Modal</button>
<p>
