<div class="container-fluid custom-modal-container">
  <div class="row custom-modal-header">
    <div class="col-sm-12">
      <h2><strong>{{context.connector.title}}</strong> configuration </h2>
    </div>
  </div>
  <div class="row" [ngClass]="{'myclass' : shouldUseMyClass}">
    <div class="col-xs-12">
      <div class="jumbotron">
        <div class="row" *ngIf="!(loadedAvailable && loadedCurrent)">
          <p><img src="assets/loading_apple.gif" alt="Loading" align="middle" height="42" width="42"> Loading...</p>
        </div>
        <div class="row" *ngIf="loadedAvailable && loadedCurrent">
          <h4><strong>Input Bytes:</strong>{{currentSettings.inputBytes}}</h4>
          <h4><strong>Output Bytes:</strong>{{currentSettings.outputBytes}}</h4>
          <h4>Administrative Status:</h4>
          <div *ngFor="let status of availableSettings.administrativeStatus.split('/')"  for='option' >
            <input
              #option
              type="radio"
              class = 'with-gap'
              name='group1'
              id='status'
              [value]='status'
              [checked]="status == currentSettings.administrativeStatus"
              (change) = 'changedStatus(status)'/>{{status}}
          </div>
          <h4>VLAN:</h4>
          <div *ngFor="let vlan of availableSettings.availableVLANs.split('/')"  for='option' >
            <input
              #option
              type="radio"
              class = 'with-gap'
              name='group3'
              id='vlan'
              [value]='vlan'
              [checked]="vlan == currentSettings.connectedToVLANs"
              (change) = 'changedVLAN(vlan)'/>{{vlan}}
          </div>
          <h4>SPEED:</h4>
          <div *ngFor="let speed of availableSettings.portSpeed.split('/')"  for='option' >
            <input
              #option
              type="radio"
              class = 'with-gap'
              name='group4'
              id='speed'
              [value]='speed'
              [checked]="speed == currentSettings.portSpeed"
              (change) = 'changedSpeed(speed)'/>{{speed}}
          </div>
          <h4>DUPLEX MODE:</h4>
          <div *ngFor="let mode of availableSettings.duplexMode.split('/')"  for='option' >
            <input
              #option
              type="radio"
              class = 'with-gap'
              name='group5'
              id='mode'
              [value]='mode'
              [checked]="mode == currentSettings.currentDuplex"
              (change) = 'changedMode(mode)'/>{{mode}}
          </div>
        </div>
      </div>
    </div>
    <div class="col-xs-12">
      <div class="jumbotron">
        <h4><strong>Running Directory:</strong>{{currentSettings.runningDirectory}}</h4>
        <span>Save config to directory:</span>
        <input class="form-control" type="text" #answer>
        <label><input type="checkbox" value="">Certify config</label>
      </div>
    </div>
    <div class="form-group row">
      <div class="col-md-4"></div>
      <div class="col-md-8">
        <button id="saveChanges" name="saveChanges" type="submit" (click)="submit()"
                class="btn btn-success pull-right" >Apply
        </button>

        <button id="cancelForm" name="cancelForm" (click)="cancel()"
                class="btn btn-danger pull-right">Cancel
        </button>
      </div>
    </div>
  </div>
</div>
