<div class="row">
  <div class="row">
    <h2 *ngIf="!dealer" class="col-md-12"> <strong>Equipment:</strong></h2>
    <h3 *ngIf="dealer" class="col-md-12"><strong>Equipment in this floor:</strong></h3>
  </div>
</div>

<div class="row">
  <div class="col-md-12">
    <app-equipment-search (onSearchited)="onSearch($event)" [equipments]="equipments" [dealer]="dealer"></app-equipment-search>
  </div>
</div>

<div class="row">
  <div class="panel-group col-md-12">
    <div class="panel panel-default" *ngFor="let equipment of equipments">
      <div class="panel-heading">
        <h4><a routerLink="{{equipment.uri}}">{{equipment.title}}</a></h4>
      </div>
    </div>
  </div>
</div>


<div class="row">
  <div class="col-md-12">
    <app-equipment-form [dealer]="dealer"></app-equipment-form>
  </div>
</div>
