<div class="jumbotron">
  <h2>ConfigurationComplexityAbstraction:</h2>
  <p>This is the <b>Configuration Complexity Abstraction</b> application developed as for the final project by Jordi Mèlich Pelegrí for
    the Polytechnic School of the Universitat de Lleida.</p>
  <p>Source code available from GitHub:</p>
  <ul>
    <li><a href="https://github.com/jmelich/ConfigurationComplexityAbstractionClient">Client</a>: Angular 4 application consuming server API.</li>
    <li><a href="https://github.com/jmelich/ConfigurationComplexityAbstraction">Server</a>: Spring Boot application providing REST API.</li>
  </ul>
  <h3> Let's get started:
    <a class="btn btn-lg btn-primary" role="button"
       [routerLink]="['/campuses']">START &raquo;</a>
  </h3>
</div>
