<div class="row">
  <div class="row">
    <h2 *ngIf="!floor" class="col-md-12"> <strong>Equipment Rooms:</strong></h2>
    <h3 *ngIf="floor" class="col-md-12"><strong>Equipment Rooms in this floor:</strong></h3>
  </div>
</div>

<div class="row">
  <div class="col-md-12">
    <app-equipmentRoom-search (onSearchited)="onSearch($event)" [equipmentRooms]="equipmentRooms" [floor]="floor"></app-equipmentRoom-search>
  </div>
</div>

<div class="row">
  <div class="panel-group col-md-12">
    <div class="panel panel-default" *ngFor="let equipmentRoom of equipmentRooms">
      <div class="panel-heading">
        <h4><a routerLink="{{equipmentRoom.uri}}">{{equipmentRoom.title}}</a></h4>
      </div>
    </div>
  </div>
</div>


<div *ngIf="floor" class="row">
  <div class="col-md-12">
    <app-equipmentRoom-form [floor] = "floor"></app-equipmentRoom-form>
  </div>
</div>
