<h2>Edit Equipment</h2>
<form id="equipment-form" [formGroup]="equipmentForm" (ngSubmit)="onSubmit()">
  <fieldset>

    <!-- Text input-->
    <div class="form-group row">
      <label class="col-md-3 control-label" for="title">Equipment Title*</label>
      <div class="col-md-9">
        <input id="title" name="title" type="text" placeholder="Title" class="form-control input-md"
               [class.has-error]="titleCtrl.touched && titleCtrl.hasError('required')"
               [formControl]="equipmentForm.controls['title']"
               [(ngModel)]="equipment.title">
        <div *ngIf="titleCtrl.touched && titleCtrl.hasError('required')" class="label-warning">
          A title is required
        </div>
      </div>
    </div>

    <!-- Textarea -->
    <div class="form-group row">
      <label class="col-md-3 control-label" for="description">Equipment Description</label>
      <div class="col-md-9">
        <textarea class="form-control" id="description" name="description" placeholder="Description"
                  [formControl]="equipmentForm.controls['description']"
                  [(ngModel)]="equipment.description"></textarea>
      </div>
    </div>

    <div class="form-group row">
      <label class="col-md-3 control-label" for="isInDealer">Dealer</label>
      <div class="col-md-9">
        <select class="form-control" id="isInDealer" name="isInDealer"
                [formControl]="equipmentForm.controls['isInDealer']"
                [(ngModel)]="equipment.isInDealer">
          <option *ngFor="let dealerItem of dealers" [ngValue]="dealerItem.uri" [selected]="dealerItem.title == dealer.title">{{dealerItem.title}}</option>
        </select>
      </div>
    </div>

    <!-- Textarea -->
    <div class="form-group row">
      <label class="col-md-3 control-label" for="username">Equipment username</label>
      <div class="col-md-9">
        <textarea class="form-control" id="username" name="username" placeholder="Username"
                  [formControl]="equipmentForm.controls['username']"
                  [(ngModel)]="equipment.username"></textarea>
      </div>
    </div>

    <!-- Textarea -->
    <div class="form-group row">
      <label class="col-md-3 control-label" for="password">Equipment password</label>
      <div class="col-md-9">
        <textarea class="form-control" id="password" name="password" placeholder="Password"
                  [formControl]="equipmentForm.controls['password']"
                  [(ngModel)]="equipment.password"></textarea>
      </div>
    </div>

    <!-- Textarea -->
    <div class="form-group row">
      <label class="col-md-3 control-label" for="positionInStack">Equipment position in stack</label>
      <div class="col-md-9">
        <textarea class="form-control" id="positionInStack" name="positionInStack" placeholder="Position in Stack"
                  [formControl]="equipmentForm.controls['positionInStack']"
                  [(ngModel)]="equipment.positionInStack"></textarea>
      </div>
    </div>


    <!-- Textarea -->
    <div class="form-group row">
      <label class="col-md-3 control-label" for="ip">Equipment IP address</label>
      <div class="col-md-9">
        <textarea class="form-control" id="ip" name="ip" placeholder="IP Address"
                  [formControl]="equipmentForm.controls['ip']"
                  [(ngModel)]="equipment.ip"></textarea>
      </div>
    </div>

    <!-- Button -->
    <div class="form-group row">
      <div class="col-md-3"></div>
      <div class="col-md-9">
        <button id="createEquipment" name="createEquipment" type="submit"
                class="btn btn-success pull-right" [disabled]="!equipmentForm.valid">Save
        </button>
      </div>
    </div>

  </fieldset>
</form>

