<div class="row">
  <div class="row">
    <h2 *ngIf="!equipment" class="col-md-12"> <strong>Cards:</strong></h2>
    <h3 *ngIf="equipment" class="col-md-12"><strong>Cards in this equipment:</strong></h3>
  </div>
</div>

<div class="row">
  <div class="col-md-12">
    <app-card-search (onSearchited)="onSearch($event)" [cards]="cards" [equipment]="equipment"></app-card-search>
  </div>
</div>

<div class="row">
  <div class="panel-group col-md-12">
    <div class="panel panel-default" *ngFor="let card of cards">
      <div class="panel-heading">
        <h4><a routerLink="{{card.uri}}">{{card.title}}</a></h4>
      </div>
    </div>
  </div>
</div>


<div *ngIf="equipment" class="row">
  <div class="col-md-12">
    <app-card-form [equipment]="equipment"></app-card-form>
  </div>
</div>
