<div class="row">
  <h3>Schema Details</h3>
</div>

<div class="row">
  <div class="col-md-3">
    <h4>Title</h4>
    <p>{{schema.title}}</p>
  </div>
  <div class="col-md-3">
    <h4>Description</h4>
    <p>{{schema.description}}</p>
  </div>
  <div class="col-md-3">
    <h4>Owner</h4>
    <a [routerLink]="['/users/'+ownerName]">{{ownerName}}</a>
  </div>
  <div class="col-md-3">
    <h4>Datasets</h4>
    <a [routerLink]="[schema.uri+'/datasets']">List datasets of {{schema.title}}</a>
  </div>
  <div class="col-md-2" *ngIf="isOwner">
    <a class="btn btn-primary" role="button" routerLink="{{schema.uri}}/edit">Edit</a>
    <a class="btn btn-danger" role="button" (click)="onDelete(schema)">Delete</a>
  </div>
</div>
