<form id="equipmentRoom-form" [formGroup]="equipmentRoomForm" (ngSubmit)="onSubmit()" autocomplete='off'>
  <fieldset>

    <div *ngIf="!showForm" class="col-md-4" style="padding-left: 0px;">
      <button id="showForm" name="createEquipmentRoom" type="submit" (click)="showForm = true;"
              class="btn btn-primary">Add a new Equipment Room
      </button>
    </div>

    <!-- Text input-->
    <div *ngIf="showForm" class="form-group row">
      <label class="col-md-3 control-label" for="title">EquipmentRoom Title*</label>
      <div class="col-md-9">
        <input id="title" name="title" type="text" placeholder="Title" class="form-control input-md"
               [class.has-error]="titleCtrl.touched && titleCtrl.hasError('required')"
               [formControl]="equipmentRoomForm.controls['title']"
               [(ngModel)]="equipmentRoom.title">
        <div *ngIf="titleCtrl.touched && titleCtrl.hasError('required')" class="label-warning">
           A title is required
        </div>
      </div>
    </div>

    <!-- Textarea -->
    <div *ngIf="showForm" class="form-group row">
      <label class="col-md-3 control-label" for="description">EquipmentRoom Description</label>
      <div class="col-md-9">
        <textarea class="form-control" id="description" name="description" placeholder="Description"
                  [formControl]="equipmentRoomForm.controls['description']"
                  [(ngModel)]="equipmentRoom.description"></textarea>
      </div>
    </div>

    <div *ngIf="showForm" class="form-group row">
      <label class="col-md-3 control-label" for="isInFloor">Floor</label>
      <div class="col-md-9">
        <select class="form-control" id="isInFloor" name="isInFloor"
                [formControl]="equipmentRoomForm.controls['isInFloor']"
                [(ngModel)]="equipmentRoom.isInFloor">
          <option *ngFor="let floor of floors" [ngValue]="floor.uri">{{floor.title}}</option>
        </select>
      </div>
    </div>

    <!-- Button -->
    <div *ngIf="showForm" class="form-group row">
        <div class="col-md-3"></div>
        <div class="col-md-9">
            <button id="createEquipmentRoom" name="createEquipmentRoom" type="submit"
                    class="btn btn-success pull-right" [disabled]="!equipmentRoomForm.valid">Create
            </button>

          <button id="cancelForm" name="cancelForm" (click)="showForm = false;"
                  class="btn btn-danger pull-right">Cancel
          </button>
        </div>
    </div>

  </fieldset>
</form>

