<div class="row">
  <div class="col-md-6" style="width: auto; padding-left: 0px;">
    <h2><strong>Equipment {{equipment.title}}</strong></h2>
  </div>
  <div class="col-md-6 editbutton">
    <a class="btn btn-primary" role="button" routerLink="{{equipment.uri}}/edit">Edit</a>
    <a class="btn btn-danger" role="button" (click)="onDelete()">Delete</a>
  </div>
</div>

<div class="row">
  <div class="col-md-4">
    <h4>
      <div>
        <p>Is in Dealer: <a routerLink="{{dealer.uri}}">{{dealer.title}}</a></p>
      </div>
    </h4>
  </div>
</div>

<div class="row">
  <div class="col-md-4">
    <h4>Title</h4>
    <p>{{equipment.title}}</p>
  </div>
</div>

<div class="row">
  <div class="col-md-4">
    <h4>Description</h4>
    <p>{{equipment.description}}</p>
  </div>
</div>

<div class="row">
  <div class="col-md-4">
    <h4>IP Address</h4>
    <p>{{equipment.ip}}</p>
  </div>
  <div class="col-md-4">
    <h4>Username</h4>
    <p>{{equipment.username}}</p>
  </div>
  <div class="col-md-4">
    <h4>Password</h4>
    <p>{{equipment.password}}</p>
  </div>
</div>

<div class="row">
  <div class="col-md-4">
    <h4>Position in Stack</h4>
    <p>{{equipment.positionInStack}}</p>
  </div>
</div>

<div class="row">

</div>


<div *ngIf="equipment.uri !== undefined" class="row" style="margin-left: 30px">
  <div class="col-md-12">
    <app-card-list [equipment]="equipment"></app-card-list>
  </div>
</div>

<div class="row">

</div>
