<div class="row">
  <div class="row">
    <h2 class="col-md-12"><strong>Campuses:</strong></h2>
  </div>
</div>
<div class="row">
  <div class="col-md-12">
    <app-campus-search (onSearchited)="onSearch($event)" [campuses]="campuses"></app-campus-search>
  </div>
</div>

<div class="row">
  <div class="panel-group col-md-12">
    <div class="panel panel-default" *ngFor="let campus of campuses">
      <div class="panel-heading">
        <h4><a routerLink="{{campus.uri}}">{{campus.title}}</a></h4>
      </div>
    </div>
  </div>
</div>

<div class="row">
  <div class="col-md-12">
    <app-campus-form ></app-campus-form>
  </div>
</div>
