<div class="row">
  <div class="col-md-4">
    <h4 *ngIf="campuses.length == 0">There are no campuses registered</h4>
    <h4 *ngIf="campuses.length > 0">There are {{campuses.length}} campuses registered</h4>
  </div>
  <div class="col-md-8">
    <h4>
      <a class="btn btn-primary" role="button"
         [routerLink]="['/campuses/new']">Register New Campus</a>
    </h4>
  </div>
</div>

<div class="row">
  <h3 class="col-md-12">Campuses</h3>
</div>

<div class="row">
  <div class="panel-group col-md-12">
    <div class="panel panel-default" *ngFor="let campus of campuses">
      <div class="panel-heading">
        <h4><a routerLink="{{campus.uri}}">{{campus.title}}</a></h4>
      </div>
    </div>
  </div>
</div>
