<div class="row">
  <div class="col-md-3">
    <h3>Connector Details</h3>
  </div>
</div>

<div class="row">
  <div class="col-md-1">
    <a class="btn btn-primary" role="button" routerLink="{{connector.uri}}/edit">Edit</a>
  </div>
</div>

<div class="row">
  <div class="col-md-4">
    <h4>Title</h4>
    <p>{{connector.title}}</p>
  </div>
</div>

<div class="row">
  <div class="col-md-4">
    <h4>Description</h4>
    <p>{{connector.description}}</p>
  </div>
</div>

<div class="row">
  <div class="col-md-4">
    <h4>Is in Floor</h4>
    <p>{{floor.title}}</p>
  </div>
</div>

<div class="row">

</div>
