<div class="row">
  <div class="col-md-3">
    <h3>Connector Details</h3>
  </div>
</div>

<div class="row">
  <div class="col-md-1">
    <a class="btn btn-primary" role="button" routerLink="{{connector.uri}}/edit">Edit</a>
  </div>
</div>

<div class="row">
  <div class="col-md-4">
    <h4>Title</h4>
    <p>{{connector.title}}</p>
  </div>
</div>

<div class="row">
  <div class="col-md-4">
    <h4>Description</h4>
    <p>{{connector.description}}</p>
  </div>
</div>

<div class="row">
  <div class="col-md-4">
    <h4>Is in Floor</h4>
    <p>{{floor.title}}</p>
  </div>
</div>

<div class="row">
  <h2>Connected to port...</h2>

  <div class="form-group row">
    <label class="col-md-3 control-label" for="isInFloor">Floor</label>
    <div class="col-md-9">
      <select class="form-control" id="isInFloor"  [(ngModel)]="portFloor" [compareWith]="objectComparator" (ngModelChange)="onChangeFloor($event)" name="isInFloor">
        <option *ngFor="let floorItem of floors" [ngValue]="floorItem">{{floorItem.title}}</option>
      </select>
    </div>
  </div>

  <div class="form-group row">
    <label class="col-md-3 control-label" for="isInDealer">Dealer</label>
    <div class="col-md-9">
      <select class="form-control" id="isInDealer"  [(ngModel)]="dealer" [compareWith]="objectComparator" (ngModelChange)="onChangeDealer($event)" name="isInDealer">
        <option *ngFor="let dealerItem of dealers" [ngValue]="dealerItem">{{dealerItem.title}}</option>
      </select>
    </div>
  </div>

  <div class="form-group row">
    <label class="col-md-3 control-label" for="isInEquipment">Equipment</label>
    <div class="col-md-9">
      <select class="form-control" id="isInEquipment"  [(ngModel)]="equipment" [compareWith]="objectComparator" (ngModelChange)="onChangeEquipment($event)" name="isInEquipment">
        <option *ngFor="let equipmentItem of equipments" [ngValue]="equipmentItem">{{equipmentItem.title}}</option>
      </select>
    </div>
  </div>

  <div class="form-group row">
    <label class="col-md-3 control-label" for="isInCard">Card</label>
    <div class="col-md-9">
      <select class="form-control" id="isInCard"  [(ngModel)]="card" [compareWith]="objectComparator" (ngModelChange)="onChangeCard($event)" name="isInCard">
        <option  *ngFor="let cardItem of cards" [ngValue]="cardItem">{{cardItem.title}}</option>
      </select>
    </div>
  </div>

  <div class="form-group row">
    <label class="col-md-3 control-label" for="port">Port</label>
    <div class="col-md-9">
      <select class="form-control" id="port"  [(ngModel)]="port" [compareWith]="objectComparator" name="port" (ngModelChange)="onChangePort($event)">
        <option *ngFor="let portItem of ports" [ngValue]="portItem">{{portItem.title}}</option>
      </select>
    </div>
  </div>

  <button name="save" (click)="onSave()"
          class="btn btn-success pull-right"> Save attached Port
  </button>

</div>
