<div class="row">
  <div class="col-md-3">
    <h3>Connector Details</h3>
  </div>
</div>

<div class="row">
  <div class="col-md-1">
    <a class="btn btn-primary" role="button" routerLink="{{connector.uri}}/edit">Edit</a>
  </div>
</div>

<div class="row">
  <div class="col-md-4">
    <h4>Title</h4>
    <p>{{connector.title}}</p>
  </div>
</div>

<div class="row">
  <div class="col-md-4">
    <h4>Description</h4>
    <p>{{connector.description}}</p>
  </div>
</div>

<div class="row">
  <div class="col-md-4">
    <h4>Is in Floor</h4>
    <p>{{floor.title}}</p>
  </div>
</div>

<div class="row">
  <h2>Connected to port...</h2>

  <div class="form-group row">
    <label class="col-md-3 control-label" for="isInFloor">Floor</label>
    <div class="col-md-9">
      <select class="form-control" id="isInFloor"  [ngModel]="floor" (ngModelChange)="onChangeFloor($event)" name="isInFloor">
        <option [ngValue]="floor" *ngFor="let floor of floors">{{floor.title}}</option>
      </select>
    </div>
  </div>

  <div class="form-group row">
    <label class="col-md-3 control-label" for="isInDealer">Dealer</label>
    <div class="col-md-9">
      <select class="form-control" id="isInDealer"  [ngModel]="dealer" (ngModelChange)="onChangeDealer($event)" name="isInFloor">
        <option [ngValue]="dealer" *ngFor="let dealer of dealers">{{dealer.title}}</option>
      </select>
    </div>
  </div>

  <div class="form-group row">
    <label class="col-md-3 control-label" for="isInEquipment">Equipment</label>
    <div class="col-md-9">
      <select class="form-control" id="isInEquipment"  [ngModel]="equipment" (ngModelChange)="onChangeEquipment($event)" name="isInEquipment">
        <option [ngValue]="equipment" *ngFor="let equipment of equipments">{{equipment.title}}</option>
      </select>
    </div>
  </div>

  <div class="form-group row">
    <label class="col-md-3 control-label" for="isInCard">Card</label>
    <div class="col-md-9">
      <select class="form-control" id="isInCard"  [ngModel]="equipment" (ngModelChange)="onChangeCard($event)" name="isInCard">
        <option [ngValue]="card" *ngFor="let card of cards">{{card.title}}</option>
      </select>
    </div>
  </div>

  <div class="form-group row">
    <label class="col-md-3 control-label" for="port">Port</label>
    <div class="col-md-9">
      <select class="form-control" id="port"  [ngModel]="port" name="port">
        <option [ngValue]="port" *ngFor="let port of ports">{{port.title}}</option>
      </select>
    </div>
  </div>

  <button name="save" (click)="onSave()"
          class="btn btn-success pull-right"> Save attached Port
  </button>

</div>
