<div class="row">
  <div class="row">
    <h2 *ngIf="!floor" class="col-md-12"> <strong>Dealers:</strong></h2>
    <h3 *ngIf="floor" class="col-md-12"><strong>Dealers in this floor:</strong></h3>
  </div>
</div>

<div class="row">
  <div class="col-md-12">
    <app-dealer-search (onSearchited)="onSearch($event)" [dealers]="dealers" [floor]="floor"></app-dealer-search>
  </div>
</div>

<div class="row">
  <div class="panel-group col-md-12">
    <div class="panel panel-default" *ngFor="let dealer of dealers">
      <div class="panel-heading">
        <h4><a routerLink="{{dealer.uri}}">{{dealer.title}}</a></h4>
      </div>
    </div>
  </div>
</div>


<div class="row">
  <div class="col-md-12">
    <app-dealer-form [floor] = "floor"></app-dealer-form>
  </div>
</div>
