<div class="row">
  <div class="col-md-4">
    <h4 *ngIf="licenses.length == 0">There are no licenses registered</h4>
    <h4 *ngIf="licenses.length > 0">There are {{licenses.length}} licenses registered</h4>
  </div>
  <div class="col-md-8">
    <h4>
      <a class="btn btn-lg btn-primary" role="button" [routerLink]="['/openLicenses/new']">Register Open License</a>
      <a class="btn btn-lg btn-primary" role="button" [routerLink]="['/closedLicenses/new']">Register Closed License</a>
    </h4>
  </div>
</div>

<app-open-license-search (onSearchited)="onSearch($event)" [openLicenses]="openLicenses"></app-open-license-search>

<div class="row">
  <h3>Licenses</h3>
  <div class="panel-group">
    <div class="panel panel-default" *ngFor="let License of licenses">
      <div *ngIf="checkType(License);then llicenciaOpen else llicenciaClosed"></div>
        <ng-template #llicenciaOpen class="panel-heading">
          <h4>
            &nbsp;<span class="fa fa-unlock-alt fa-1x"></span>
            OpenLicense: <a routerLink="{{License.uri}}">{{License.text}}</a>
          </h4>
        </ng-template>

        <ng-template #llicenciaClosed class="panel-heading">
          <h4>
            &nbsp;<span class="fa fa-lock fa-1x"></span>
            ClosedLicense: <a routerLink="{{License.uri}}">{{License.text}}</a>
            Price: {{License.price}} €</h4>
        </ng-template>
    </div>
  </div>
</div>

