<div class="row">
  <div class="col-md-4">
    <h4 *ngIf="tags.length == 0">There are no tags registered</h4>
    <h4 *ngIf="tags.length > 0">There are {{tags.length}} tags registered</h4>
  </div>
  <div class="col-md-8">
    <h4>
      <a class="btn btn-primary" role="button"
         [routerLink]="['/tags/new']">Register New Tag</a>
    </h4>
  </div>
</div>

<div class="row">
  <h3 class="col-md-12">Tags</h3>
  <div class="col-md-12">
    <app-tags-search (onSearchited)="onSearch($event)" [tags]="tags"></app-tags-search>
  </div>
</div>

<div class="row">
  <div class="panel-group col-md-12">
    <div class="panel panel-default" *ngFor="let tag of tags">
      <div class="panel-heading">
        <h4>Name: <a routerLink="{{tag.uri}}">{{tag.name}}</a></h4>
        <h5>Datasets tagged: <span class="badge">{{tag.datasets.length}}</span></h5>
      </div>
    </div>
  </div>
</div>

<div class="row text-center col-md-12" *ngIf="tags?.length > 0">
  <pagination [totalItems]="bigTotalItems" [(ngModel)]="currentPage" [maxSize]="maxSize" [itemsPerPage]="itemsPerPage"
              [boundaryLinks]="true" [rotate]="false" (numPages)="numPages = $event" (pageChanged)="pageChanged($event)"></pagination>


</div>

<div class="row text-center col-md-12" *ngIf="tags?.length > 0">
  Tags per page
  <select (change)="onChange($event.target.value)" style="margin-left: 10px;">
    <option value="10">10</option>
    <option value="20" selected="selected">20</option>
    <option value="50">50</option>
    <option value="100">100</option>
  </select>
</div>
