<div class="row">
  <div class="col-md-6" style="width: auto; padding-left: 0px;">
    <h2><strong>Card {{card.title}}</strong></h2>
  </div>
  <div class="col-md-6 editbutton">
    <a class="btn btn-primary" role="button" routerLink="{{card.uri}}/edit">Edit</a>
    <a class="btn btn-danger" role="button" (click)="onDelete()">Delete</a>
  </div>
</div>

<div class="row">
  <div class="col-md-4">
    <h4>Title</h4>
    <p>{{card.title}}</p>
  </div>
</div>

<div class="row">
  <div class="col-md-4">
    <h4>Number of Card</h4>
    <p>{{card.numberOfCard}}</p>
  </div>
</div>

<div class="row">
  <div class="col-md-4">
    <h4>Number of Ports</h4>
    <p>{{card.numberOfPorts}}</p>
  </div>
</div>

<div class="row">
  <div class="col-md-4">
    <h4>Is in Equipment</h4>
    <p><a routerLink="{{equipment.uri}}">{{equipment.title}}</a></p>
  </div>
</div>

<div class="row">

</div>
