<div class="row">
  <div class="col-md-3">
    <h3>Card Details</h3>
  </div>
</div>

<div class="row">
  <div class="col-md-1">
    <a class="btn btn-primary" role="button" routerLink="{{card.uri}}/edit">Edit</a>
  </div>
</div>

<div class="row">
  <div class="col-md-4">
    <h4>Title</h4>
    <p>{{card.title}}</p>
  </div>
</div>

<div class="row">
  <div class="col-md-4">
    <h4>Number of Card</h4>
    <p>{{card.numberOfCard}}</p>
  </div>
</div>

<div class="row">
  <div class="col-md-4">
    <h4>Is in Equipment</h4>
    <p><a routerLink="{{equipment.uri}}">{{equipment.title}}</a></p>
  </div>
</div>

<div class="row">

</div>
