<div class="row">
  <!--<div class="col-md-8">
    <h4>
      <a class="btn btn-primary" role="button"
         [routerLink]="['/floors/new']">Register New Floor</a>
    </h4>
  </div>-->
</div>

<div class="row">
  <h3 class="col-md-12">Floors</h3>
  <div class="col-md-12">
    <app-floor-search (onSearchited)="onSearch($event)" [floors]="floors" [building]="building"></app-floor-search>
  </div>
</div>

<div class="row">
  <div class="panel-group col-md-12">
    <div class="panel panel-default" *ngFor="let floor of floors">
      <div class="panel-heading">
        <h4><a routerLink="{{floor.uri}}">{{floor.title}}</a></h4>
      </div>
    </div>
  </div>
</div>

<div class="row">
  <div class="col-md-12">
    <app-floor-form [building] = "building"></app-floor-form>
  </div>
</div>
