<div class="row">
    <div class="col-md-4">
        <h4 *ngIf="openLicenses.length == 0">There are no open licenses registered</h4>
        <h4 *ngIf="openLicenses.length > 0">There are {{openLicenses.length}} open licenses registered</h4>
    </div>
    <div class="col-md-8">
        <h4>
            <a class="btn btn-lg btn-primary" role="button" [routerLink]="['/openLicenses/new']">Register Open License</a>
        </h4>
    </div>
</div>

<app-open-license-search (onSearchited)="onSearch($event)" [openLicenses]="openLicenses"></app-open-license-search>

<div class="row">
    <h3>Open Licenses</h3>
    <div class="panel-group">
        <div class="panel panel-default" *ngFor="let openLicense of openLicenses">
            <div class="panel-heading">
                <h4>Text: <a routerLink="{{openLicense.uri}}">{{openLicense.text}}</a></h4>
            </div>
            <div class="panel-body">
                <div class="col-md-6">
                    <h4>Additional details:</h4>
                    <h5 *ngIf="licenseOwner">Owner: {{licenseOwner[openLicense.uri]}}</h5>
                </div>
            </div>
        </div>
    </div>
</div>
