<div class="row">
  <div class="col-md-4" style="width: auto; padding-left: 0px;">
    <h2><strong>Floor {{floor.title}}</strong></h2>
  </div>
  <div class="col-md-8 editbutton">
    <a class="btn btn-primary" role="button" routerLink="{{floor.uri}}/edit">Edit</a>
    <a class="btn btn-danger" role="button" (click)="onDelete()">Delete</a>
  </div>
</div>

<div class="row">
  <div class="col-md-4">
    <h4>Title</h4>
    <p>{{floor.title}}</p>
  </div>
</div>

<div class="row">
  <div class="col-md-4">
    <h4>Description</h4>
    <p>{{floor.description}}</p>
  </div>
</div>

<div class="row">
  <div class="col-md-4">
    <h4>Is in Building</h4>
    <p><a routerLink="{{building.uri}}">{{building.title}}</a></p>
  </div>
</div>

<div *ngIf="floor.uri !== undefined" class="row" style="margin-left: 30px">
  <div class="col-md-12">
    <app-dealer-list [floor]="floor"></app-dealer-list>
  </div>
</div>




<div *ngIf="floor.uri !== undefined" class="row" style="margin-left: 30px">
  <div class="col-md-12">
    <app-connector-list [floor]="floor"></app-connector-list>
  </div>
</div>

<!--<div *ngIf="floor.picture" class="picture-container" style="overflow: auto;max-height: 200px;">
  <img [src]="floor.picture" />
</div>-->





<div class="row">

</div>
