<div class="row">
  <div class="col-md-6" style="width: auto; padding-left: 0px;">
    <h2><strong>Dealer {{dealer.title}}</strong></h2>
  </div>
  <div class="col-md-6 editbutton">
    <a class="btn btn-primary" role="button" routerLink="{{dealer.uri}}/edit">Edit</a>
    <a class="btn btn-danger" role="button" (click)="onDelete()">Delete</a>
  </div>
</div>

<div class="row">
  <div class="col-md-4">
    <h4>
      <div>
        <p>Is in Floor: <a routerLink="{{floor.uri}}">{{floor.title}}</a></p>
      </div>
    </h4>
  </div>
</div>

<div class="row">
  <div class="col-md-4">
    <h4>Title</h4>
    <p>{{dealer.title}}</p>
  </div>
</div>

<div class="row">
  <div class="col-md-4">
    <h4>Description</h4>
    <p>{{dealer.description}}</p>
  </div>
</div>

<div *ngIf="dealer.uri !== undefined" class="row" style="margin-left: 30px">
  <div class="col-md-12">
    <app-equipment-list [dealer]="dealer"></app-equipment-list>
  </div>
</div>

<div class="row">

</div>
