<div class="row">
  <div class="row">
    <h2 *ngIf="!campus" class="col-md-12"> <strong>Buildings:</strong></h2>
    <h3 *ngIf="campus" class="col-md-12"><strong>Buildings in this campus:</strong></h3>
  </div>
</div>

<div class="row">
  <div class="col-md-12">
    <app-building-search (onSearchited)="onSearch($event)" [buildings]="buildings" [campus]="campus"></app-building-search>
  </div>
</div>

<div class="row">
  <div class="panel-group col-md-12">
    <div class="panel panel-default" *ngFor="let building of buildings">
      <div class="panel-heading">
        <h4><a routerLink="{{building.uri}}">{{building.title}}</a></h4>
      </div>
    </div>
  </div>
</div>

<div class="row">
  <div class="col-md-12">
    <app-building-form [campus]="campus"></app-building-form>
  </div>
</div>
