<div class="row">
  <div class="col-md-6" style="width: auto; padding-left: 0px;">
    <h2><strong>Campus {{campus.title}}</strong></h2>
  </div>
  <div class="col-md-6 editbutton">
    <a class="btn btn-primary" role="button" routerLink="{{campus.uri}}/edit">Edit</a>
    <a class="btn btn-danger" role="button" (click)="onDelete()">Delete</a>
  </div>
</div>

<div class="row">
  <div class="col-md-4">
    <h4>Title</h4>
    <p>{{campus.title}}</p>
  </div>
</div>

<div class="row">
  <div class="col-md-4">
    <h4>Description</h4>
    <p>{{campus.description}}</p>
  </div>
</div>

<div *ngIf="campus.uri !== undefined" class="row" style="margin-left: 30px;">
  <div class="col-md-12">
    <app-building-list [campus]="campus"></app-building-list>
  </div>
</div>

<div class="row">

</div>
