<div class="row">
  <div class="col-md-4" style="width: auto;">
    <h3>Campus Details</h3>
  </div>
  <div class="col-md-8 editbutton">
    <a class="btn btn-primary" role="button" routerLink="{{campus.uri}}/edit">Edit</a>
    <a class="btn btn-danger" role="button" (click)="onDelete()">Delete</a>
  </div>
</div>

<div class="row">
  <div class="col-md-4">
    <h4>Title</h4>
    <p>{{campus.title}}</p>
  </div>
</div>

<div class="row">
  <div class="col-md-4">
    <h4>Description</h4>
    <p>{{campus.description}}</p>
  </div>
</div>

<div class="row">
  <div class="col-md-2">
    <h4>latitude</h4>
    <p>{{campus.latitude}}</p>
  </div>
  <div class="col-md-2">
    <h4>longitude</h4>
    <p>{{campus.longitude}}</p>
  </div>
</div>


<!--<div *ngIf="buildings" class="col-md-2">
  <h4>Buildings:</h4>
  <div *ngFor="let building of buildings">
    <a href="{{building.uri}}">{{building.title}}</a>
  </div>
</div> -->

<div *ngIf="campus.uri !== undefined" class="row">
  <div class="col-md-12">
    <app-building-list [campus]="campus"></app-building-list>
  </div>
</div>

<!--<div *ngIf="campus.uri !== undefined" class="row">
  <div class="col-md-12">
    <app-building-form [campus]="campus"></app-building-form>
  </div>
</div>-->

<div class="row">

</div>
