<form id="floor-form" [formGroup]="floorForm" (ngSubmit)="onSubmit()">
  <fieldset>

    <div *ngIf="!showForm" class="col-md-4" style="padding-left: 0px;">
      <button id="showForm" name="createFloor" type="submit" (click)="showForm = true;"
              class="btn btn-primary">Add a new floor
      </button>
    </div>

    <!-- Text input-->
    <div *ngIf="showForm" class="form-group row">
      <label class="col-md-3 control-label" for="title">Floor Title*</label>
      <div class="col-md-9">
        <input id="title" name="title" type="text" placeholder="Title" class="form-control input-md"
               [class.has-error]="titleCtrl.touched && titleCtrl.hasError('required')"
               [formControl]="floorForm.controls['title']"
               [(ngModel)]="floor.title">
        <div *ngIf="titleCtrl.touched && titleCtrl.hasError('required')" class="label-warning">
           A title is required
        </div>
      </div>
    </div>

    <!-- Textarea -->
    <div *ngIf="showForm" class="form-group row">
      <label class="col-md-3 control-label" for="description">Floor Description</label>
      <div class="col-md-9">
        <textarea class="form-control" id="description" name="description" placeholder="Description"
                  [formControl]="floorForm.controls['description']"
                  [(ngModel)]="floor.description"></textarea>
      </div>
    </div>

    <div *ngIf="showForm" class="form-group row">
      <input type="file" id="picture" autofocus=""  #file (change)="addPicture(file)" />
      <div *ngIf="image" class="picture-container" style="overflow: auto;max-height: 200px;">
        <img [src]="image" />
      </div>
      <!--<app-loading class="container" ></app-loading>-->
    </div>

    <div *ngIf="showForm" class="form-group row">
      <label class="col-md-3 control-label" for="isInBuilding">Building</label>
      <div class="col-md-9">
        <select class="form-control" id="isInBuilding" name="isInBuilding"
                [formControl]="floorForm.controls['isInBuilding']"
                [(ngModel)]="floor.isInBuilding">
          <option *ngFor="let building of buildings" [ngValue]="building.uri">{{building.title}}</option>
        </select>
      </div>
    </div>

    <!-- Button -->
    <div *ngIf="showForm" class="form-group row">
        <div class="col-md-3"></div>
        <div class="col-md-9">
            <button id="createFloor" name="createFloor" type="submit"
                    class="btn btn-success pull-right" [disabled]="!floorForm.valid">Create
            </button>

            <button id="cancelForm" name="cancelForm" (click)="showForm = false;"
                    class="btn btn-danger pull-right">Cancel
            </button>
        </div>
    </div>

  </fieldset>
</form>

